* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

@font-face {font-family: "TwCenW01-Medium"; src: url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.eot"); 
src: url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.eot?#iefix") 
format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.woff2") 
format("woff2"), url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.woff") 
format("woff"), url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.ttf") 
format("truetype"), url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.svg#TwCenW01-Medium") format("svg"); } 


.title {
    font-family: 'GermanoRegular';
    font-weight: normal;
    font-style: normal;
}


//Variables
$grey: #f1f1f1;

html {
    background: $grey;
    font-family: "TwCenW01-Medium";
}

.container {
    width: 80%;
    margin: auto;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
        border-bottom: 1px solid black;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-container {
    flex: 0 0 25%;
    img {
        width: 300px;
        height: 250px;
    }
}

.navbar {
    height: 20vh;
    width: 100vw;
    background: $grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 1.7em;
    letter-spacing: 2px;
    line-height: 1.2;
    border-bottom: 1px solid black;
    transition: all .4s ease;

}

.shrink {
    position: fixed;
    font-size: 1em;    
    height: 10vh;
    // transition: all .8s ease;

}



.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    height: 150px;
    .buttons__view,
    .button {
        display: inline-block;
        margin: 20px;
        font-family: "TwCenW01-Medium";
        font-size: 1em;
        font-weight: 100;
        text-transform: uppercase;
        opacity: 1; 
        transition: all 1s ease;
    }
    
}

.fade {
    opacity: 0;
}

.caption  {
    line-height: 1.5;
    margin: 10px 0;
    .caption__city {
        font-weight: 300;
        font-size: 1.1em;
        letter-spacing: 1px;
    }
    .caption__country {
        font-weight: 300;
        font-size: .7em;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
}

.gallery .img-container>.visited,
.gallery .img-container>.visited ~.caption, 
.gallery .img-container>.bucketlist,
.gallery .img-container>.bucketlist ~.caption {
    display: none;
}


.gallery .img-container>.visited.active,
.gallery .img-container>.visited ~.caption.active,
.gallery .img-container>.bucketlist.active,
.gallery .img-container>.bucketlist ~.caption.active  {
    display: block;
}





